//
// One Half Theme
// https://github.com/sonph/onehalf
// 0   black     #282c34
// 1   red       #e06c75
// 2   green     #98c379
// 3   yellow    #e5c07b
// 4   blue      #61afef
// 5   magenta   #c678dd
// 6   cyan      #56b6c2
// 7   white     #dcdfe4
//
$dark1: color.adjust(#282c34, $lightness: -10%); // the darkest
$dark2: #282c34;
$dark3: color.adjust($dark2, $lightness: 10%);
$dark4: color.adjust($dark3, $lightness: 10%);

$light3: color.adjust(#dcdfe4, $lightness: 15%); // the brightest
$light2: #dcdfe4;
$light1: color.adjust($light2, $lightness: -10%);

$c-blue: #61afef;
$c-cyan: #56b6c2;
$c-green: #98c379;
$c-magenta: #c678dd;
$c-red: #e06c75;
$c-yellow: #e5c07b;
$c-orange: mix($c-red, $c-yellow);

//
// usually you don't need to edit these:
//
$dark-foreground: $light1;
$foreground: $light2;
$bright-foreground: $light3;

$c-black: $dark1;
$c-darkGray: color.adjust($dark-foreground, $lightness: -25%);
$c-lightGray: $dark-foreground;
$c-white: $bright-foreground;

$c-bright-blue: color.adjust($c-blue, $lightness: 20%);
$c-bright-cyan: color.adjust($c-cyan, $lightness: 20%);
$c-bright-green: color.adjust($c-green, $lightness: 20%);
$c-bright-magenta: color.adjust($c-magenta, $lightness: 20%);
$c-bright-red: color.adjust($c-red, $lightness: 20%);
$c-bright-yellow: color.adjust($c-yellow, $lightness: 20%);

$c-bright-black: color.adjust($dark-foreground, $lightness: -10%);
$c-bright-darkGray: $dark-foreground;
$c-bright-lightGray: $bright-foreground;
$c-bright-white: color.adjust($bright-foreground, $lightness: 10%);

:root {
  --background: #{$dark1};
  --background1: #{$dark2};
  --background2: #{$dark3};
  --background3: #{$dark4};
  --foreground: #{$foreground};
  --dark-foreground: #{$light1};
  --bright-foreground: #{$light3};
}
