@font-face {
  font-family: "MonegoRegular";
  src: url("Monego/Monego-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MonegoBold";
  src: url("Monego/Monego-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MonegoBoldItalic";
  src: url("Monego/Monego-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MonegoItalic";
  src: url("Monego/Monego-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MononokiRegular";
  src: url("Mononoki/Mononoki-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MononokiBold";
  src: url("Mononoki/Mononoki-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MononokiBoldItalic";
  src: url("Mononoki/Mononoki-BoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "MononokiItalic";
  src: url("Mononoki/Mononoki-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
:root {
  --background: #2E3440;
  --background1: #3B4252;
  --background2: #434C5E;
  --background3: #4C566A;
  --foreground: #E5E9F0;
  --dark-foreground: #D8DEE9;
  --bright-foreground: #ECEFF4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body > * {
  font-size: 15px;
  font-family: MonegoRegular, monospace;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

html, body, canvas, main, aside, div, span, pre, input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  color: var(--foreground);
  font-size: 15px;
  font-family: MonegoRegular, monospace;
}

p, b, i, small, span, pre, h5 {
  margin: 0;
  line-height: 1.6rem;
  font-family: MonegoRegular, monospace;
  font-size: 15px;
  font-variant-ligatures: contextual common-ligatures;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

i {
  font-family: MonegoItalic, monospace;
}

b, h5 {
  font-family: MonegoBold, monospace;
}

small {
  font-size: 13px;
}

.bold {
  font-family: MonegoBold, monospace;
}

.italic {
  font-family: MonegoItalic, monospace;
}

.bold.italic {
  font-family: MonegoBoldItalic, monospace;
}

.thin {
  font-weight: lighter !important;
}

input {
  border: 0;
  outline: 0;
  font-weight: 500;
}

body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: var(--background);
  max-height: 99.9vh;
}

#leftSide {
  display: grid;
  grid-column: 1/3;
  grid-template-rows: repeat(3, 1fr);
  max-height: 99.9vh;
  position: relative;
}

#rightSide {
  grid-column: 8/10;
  max-height: 99.9vh;
  margin: 1px;
  border-right: 1px solid #3B4252;
  padding: 0.5rem;
  background: #4C566A;
  overflow-y: scroll;
  position: relative;
  scrollbar-color: #5E81AC #616e88;
}

#rightSide.big {
  position: fixed;
  right: 0;
  width: 50vw;
  height: calc(99vh - 4rem);
  border: 2px solid #E5E9F0;
  z-index: 999;
}

#main {
  display: flex;
  grid-column: 3/8;
  flex-direction: column;
  border-left: 1px solid #3B4252;
  border-right: 1px solid #3B4252;
  min-height: 99.5vh;
  max-height: 99.9vh;
}

/* Left side: map, room, player */
#map {
  margin: 1px;
  background: #616e88;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

#map.big {
  position: fixed;
  left: 4rem;
  top: 2rem;
  width: calc(100% - 10em);
  height: calc(99vh - 10rem);
  border: 2px solid #E5E9F0;
  z-index: 999;
}

#loc, #exits {
  font-size: 13px;
  background: rgba(59, 66, 82, 0.5);
  position: absolute;
}

#loc {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline;
}

#exits {
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  top: calc(33% - 2rem + 2px);
}

#room {
  border-bottom: 1px solid #3B4252;
  border-top: 1px solid #3B4252;
  border-right: 1px solid #3B4252;
  overflow-y: scroll;
  scrollbar-color: #5E81AC #616e88;
  padding: 0.5rem;
  background: #454e61;
}

#player {
  margin: 1px;
  background: #4C566A;
  padding: 0.5rem;
  overflow-y: scroll;
  scrollbar-color: #5E81AC #616e88;
}

.roomPlayer:hover, .roomItem:hover {
  cursor: pointer;
  font-family: MonegoItalic, monospace;
}

.playerDef:hover, .playerAff:hover {
  font-family: MonegoItalic, monospace;
}

/* In the middle: game log, user input, status bar */
#gameLog {
  background: #454e61;
  overflow-y: scroll;
  scrollbar-color: #5E81AC #616e88;
  padding: 0.5rem;
  height: 18px;
  flex: 1 0;
}

#gameLog > p {
  white-space: pre-wrap;
}

#userInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 15px;
  color: #D8DEE9;
  background: #3B4252;
  border-bottom: 2px solid #5E81AC;
  transition: border-color 0.33s;
}

#userInput:focus {
  color: #E5E9F0;
  background: #4C566A;
  border-bottom: 2px solid #81A1C1;
}

.userText, .sysText {
  color: #D8DEE9;
}

#gameLog table {
  background: #4C566A;
  border-collapse: collapse;
  border-top: 1px solid #3B4252;
  border-left: 1px solid #3B4252;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

#gameLog table tr {
  border-bottom: 1px solid #3B4252;
}

#gameLog table th {
  font-family: MonegoBold, monospace;
  font-weight: bold;
}

#gameLog table th,
#gameLog table td {
  padding: 2px 5px 1px 5px;
  border-right: 1px solid #3B4252;
}

#dateTimeWrap {
  display: block;
  position: fixed;
  border-radius: 8px;
  border: 1px solid #3B4252;
  font-size: 13px;
  top: 2px;
  right: 2px;
  padding: 0.4rem;
  min-width: 7.5rem;
  white-space: normal;
  background: rgba(97, 110, 136, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#battleWrap {
  display: none;
  position: fixed;
  border: 1px solid #3B4252;
  border-top: 0;
  font-size: 13px;
  left: calc(50% - 18rem);
  top: 0;
  width: 36rem;
  padding: 0.5rem;
  white-space: normal;
  background: rgba(76, 86, 106, 0.9);
}

#battleBar {
  height: 1rem;
  display: flex;
  margin-top: 0.5rem;
  background-color: var(--background);
}

#targetHpmax {
  flex: 1;
  display: flex;
  color: #D8DEE9;
  line-height: 13px;
  border-left: 1px solid #D8DEE9;
}

#targetHpnow {
  text-align: center;
  font-size: 13px;
  border-right: 1px solid #D8DEE9;
  background: #84363d;
  transition: width 0.5s;
}

#targetHpnow:hover {
  color: #ECEFF4;
  font-family: MonegoBold, monospace;
}

#rageBar {
  display: none;
  height: 0.225rem;
  background-color: var(--background);
}

#selfRageMax {
  flex: 1;
  display: flex;
  color: #D8DEE9;
  border-left: 1px solid #D8DEE9;
}

#selfRageNow {
  border-right: 1px solid #D8DEE9;
  background: #e4b860;
  transition: width 0.5s;
}

#statBar {
  height: 1rem;
  display: flex;
  border-top: 1px solid #3B4252;
  z-index: 99;
}

#hpmax,
#mpmax,
#epmax,
#wpmax {
  flex: 1;
  display: flex;
  color: #D8DEE9;
  line-height: 13px;
}

#mpmax,
#epmax,
#wpmax {
  border-left: 1px solid #D8DEE9;
}

#hpnow,
#mpnow,
#epnow,
#wpnow {
  text-align: center;
  font-size: 13px;
  border-right: 1px solid #D8DEE9;
  transition: width 0.5s;
}

#hpnow:hover,
#mpnow:hover,
#epnow:hover,
#wpnow:hover {
  color: #ECEFF4;
  font-family: MonegoBold, monospace;
}

#hpnow {
  background: #84363d;
}

#mpnow {
  background: #005f87;
}

#epnow {
  background: #916919;
}

#wpnow {
  background: #703080;
}

/* wikipedia.org/wiki/ANSI_escape_code */
.c-black {
  color: #191c22;
  font-family: MonegoBold, monospace;
  font-weight: bold;
}

.c-red {
  color: #BF616A;
}

.c-green {
  color: #A3BE8C;
}

.c-yellow {
  color: #D08770;
}

.c-blue {
  /* blue1: $nord8; blue2: $nord9; blue3: $nord10; */
  color: #5E81AC;
}

.c-magenta {
  color: #B48EAD;
}

.c-cyan {
  color: #8FBCBB;
}

.c-darkGray {
  color: #97a7c4;
  font-family: MonegoBold, monospace;
}

.c-lightGray {
  color: #D8DEE9;
  font-family: MonegoBold, monospace;
}

.c-white {
  color: #ECEFF4;
  font-family: MonegoBold, monospace;
}

/* bright */
.c-bright {
  font-family: MonegoBold, monospace;
  font-weight: bold;
}

.c-bright.c-black {
  color: #97a7c4;
}

.c-bright.c-red {
  color: #c6737b;
}

.c-bright.c-green {
  color: #A3BE8C;
}

.c-bright.c-yellow {
  color: #EBCB8B;
}

.c-bright.c-blue {
  color: #81A1C1;
}

.c-bright.c-magenta {
  color: #B48EAD;
}

.c-bright.c-cyan {
  color: #88C0D0;
}

.c-bright.c-lightGray {
  color: #E5E9F0;
}

/* dim */
.c-dim {
  font-family: MonegoBoldItalic, monospace;
  font-weight: bold;
}

.c-dim.c-red {
  color: #b84f59;
}

.c-dim.c-blue {
  color: #5f88b0;
}

/* backgrounds */
.bg-black {
  background-color: rgba(25, 28, 34, 0.5);
}

.bg-red {
  background-color: rgba(191, 97, 106, 0.5);
}

.bg-green {
  background-color: rgba(163, 190, 140, 0.5);
}

.bg-yellow {
  background-color: rgba(208, 135, 112, 0.5);
}

.bg-blue {
  background-color: rgba(94, 129, 172, 0.5);
}

.bg-magenta {
  background-color: rgba(180, 142, 173, 0.5);
}

.bg-cyan {
  background-color: rgba(143, 188, 187, 0.5);
}

.bg-darkGray {
  background-color: rgba(151, 167, 196, 0.5);
}

.bg-lightGray {
  background-color: rgba(216, 222, 233, 0.5);
}

.bg-white {
  background-color: rgba(236, 239, 244, 0.5);
}

/* bright */
.bg-bright {
  font-family: MonegoBold, monospace;
  font-weight: bold;
}

/* dim */
.bg-dim.bg-red {
  color: rgba(184, 79, 89, 0.5);
}

.bg-dim.bg-blue {
  color: rgba(95, 136, 176, 0.5);
}
