@use 'sass:color';

@font-face {
  font-family: 'MonegoRegular';
  src: url('Monego/Monego-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonegoBold';
  src: url('Monego/Monego-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonegoBoldItalic';
  src: url('Monego/Monego-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MonegoItalic';
  src: url('Monego/Monego-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MononokiRegular';
  src: url('Mononoki/Mononoki-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MononokiBold';
  src: url('Mononoki/Mononoki-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MononokiBoldItalic';
  src: url('Mononoki/Mononoki-BoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'MononokiItalic';
  src: url('Mononoki/Mononoki-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@import '../../node_modules/nord/src/sass/nord.scss';

$foreground: $nord5;
$dark-foreground: $nord4;
$bright-foreground: $nord6;

$font-reg: MonegoRegular, monospace;
$font-bold: MonegoBold, monospace;
$font-ital: MonegoItalic, monospace;
$font-boit: MonegoBoldItalic, monospace;
$font-size: 15px;

:root {
  --background: #{$nord0};
  --background1: #{$nord1};
  --background2: #{$nord2};
  --background3: #{$nord3};
  --foreground: #{$nord5};
  --dark-foreground: #{$nord4};
  --bright-foreground: #{$nord6};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body > * {
  font-size: $font-size;
  font-family: $font-reg;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
html, body, canvas, main, aside, div, span, pre, input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  color: var(--foreground);
  font-size: $font-size;
  font-family: $font-reg;
}
p, b, i, small, span, pre, h5 {
  margin: 0;
  line-height: 1.6rem;
  font-family: $font-reg;
  font-size: $font-size;
  font-variant-ligatures: contextual common-ligatures;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

i {
  font-family: $font-ital;
}
b, h5 {
  font-family: $font-bold;
}
small {
  font-size: $font-size - 2;
}
.bold {
  font-family: $font-bold;
}
.italic {
  font-family: $font-ital;
}
.bold.italic {
  font-family: $font-boit;
}
.thin {
  font-weight: lighter !important;
}
input {
  border: 0;
  outline: 0;
  font-weight: 500;
}

body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: var(--background);
  max-height: 99.9vh;
}

#leftSide {
  display: grid;
  grid-column: 1 / 3;
  grid-template-rows: repeat(3, 1fr);
  max-height: 99.9vh;
  position: relative;
}
#rightSide {
  grid-column: 8 / 10;
  max-height: 99.9vh;
  margin: 1px;
  border-right: 1px solid $nord1;
  padding: 0.4rem;
  background: $nord3;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: $nord10 lighten($nord3, 10);
}
#rightSide.big {
  position: fixed;
  right: 0;
  width: 50vw;
  height: calc(99vh - 4rem);
  border: 2px solid $nord5;
  z-index: 999;
}
#rightSide .notes {
  padding: 0.25rem;
  border-radius: 8px;
  border: 1px solid $nord1;
  margin-bottom: 2px;
  background: lighten($nord3, 10);
}
#main {
  display: flex;
  grid-column: 3 / 8;
  flex-direction: column;
  border-left: 1px solid $nord1;
  border-right: 1px solid $nord1;
  min-height: 99.5vh;
  max-height: 99.9vh;
}

/* Left side: map, room, player */
#map {
  margin: 1px;
  background: lighten($nord3, 10);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  max-height: 33.333vh;
}
#map.big {
  position: fixed;
  left: 4rem;
  top: 2rem;
  max-height: 99vh;
  width: calc(100% - 10em);
  height: calc(99vh - 10rem);
  border: 2px solid $nord5;
  z-index: 999;
}
#loc, #exits {
  position: absolute;
  font-size: $font-size - 2;
  background: color.change($nord1, $alpha: 0.5);
}
#loc {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline;
}
#exits {
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  top: calc(33% - 2rem + 2px);
}
#room {
  border-bottom: 1px solid $nord1;
  border-top: 1px solid $nord1;
  border-right: 1px solid $nord1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $nord10 lighten($nord3, 10);
  padding: 0.5rem;
  background: lighten($nord2, 1%);
}
#player {
  margin: 1px;
  background: $nord3;
  padding: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $nord10 lighten($nord3, 10);
}
.roomPlayer:hover, .roomItem:hover {
  cursor: pointer;
  font-family: $font-ital;
}
.playerDef:hover, .playerAff:hover {
  font-family: $font-ital;
}

/* In the middle: game log, user input, status bar */
#gameLog {
  background: lighten($nord2, 1%);
  overflow-y: scroll;
  scrollbar-color: $nord10 lighten($nord3, 10);
  padding: 0.5rem;
  height: 18px;
  flex: 1 0;
}
#gameLog > p {
  white-space: pre-wrap;
}
#userInput {
  width: 100%;
  padding: 0.5rem;
  font-size: $font-size;
  color: $dark-foreground;
  background: $nord1;
  border-bottom: 2px solid $nord10;
  transition: border-color 0.33s;
}
#userInput:focus {
  color: $nord5;
  background: $nord3;
  border-bottom: 2px solid $nord9;
}
.userText, .sysText {
  color: $dark-foreground;
}
#gameLog table {
  background: $nord3;
  border-collapse: collapse;
  border-top: 1px solid $nord1;
  border-left: 1px solid $nord1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: $font-size - 2;
}
#gameLog table tr {
  border-bottom: 1px solid $nord1;
}
#gameLog table th {
  font-family: $font-bold;
  font-weight: bold;
}
#gameLog table th,
#gameLog table td {
  padding: 2px 5px 1px 5px;
  border-right: 1px solid $nord1;
}

#dateTimeWrap {
  display: block;
  position: fixed;
  border-radius: 8px;
  border: 1px solid $nord1;
  font-size: $font-size - 2;
  top: 2px;
  right: 0.6rem;
  padding: 0.4rem;
  min-width: 7.5rem;
  white-space: normal;
  background: color.change(lighten($nord3, 10), $alpha: 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 990;
}
#dateTimeWrap:hover {
  cursor: pointer;
}

#battleWrap {
  display: none;
  position: fixed;
  border: 1px solid $nord1;
  border-top: 0;
  font-size: $font-size - 2;
  left: calc(50% - 18rem);
  top: 0;
  width: 36rem;
  padding: 0.5rem;
  white-space: normal;
  background: color.change($nord3, $alpha: 0.9);
}
#battleBar {
  height: 1rem;
  display: flex;
  margin-top: 0.5rem;
  background-color: var(--background);
}
#targetHpmax {
  flex: 1;
  display: flex;
  color: $dark-foreground;
  line-height: $font-size - 2;
  border-left: 1px solid $nord4;
}
#targetHpnow {
  text-align: center;
  font-size: $font-size - 2;
  border-right: 1px solid $nord4;
  background: darken($nord11, 20%);
  transition: width 0.5s;
}
#targetHpnow:hover {
  color: $bright-foreground;
  font-family: $font-bold;
}
#rageBar {
  display: none; // flex
  height: 0.225rem;
  background-color: var(--background);
}
#selfRageMax {
  flex: 1;
  display: flex;
  color: $dark-foreground;
  border-left: 1px solid $nord4;
}
#selfRageNow {
  border-right: 1px solid $nord4;
  background: darken($nord13, 10%);
  transition: width 0.5s;
}

#statBar {
  height: 1rem;
  display: flex;
  border-top: 1px solid $nord1;
  z-index: 99;
}

#hpmax,
#mpmax,
#epmax,
#wpmax {
  flex: 1;
  display: flex;
  color: $dark-foreground;
  line-height: $font-size - 2;
}
#mpmax,
#epmax,
#wpmax {
  border-left: 1px solid $nord4;
}

#hpnow,
#mpnow,
#epnow,
#wpnow {
  text-align: center;
  font-size: $font-size - 2;
  border-right: 1px solid $nord4;
  transition: width 0.5s;
}
#hpnow:hover,
#mpnow:hover,
#epnow:hover,
#wpnow:hover {
  color: $bright-foreground;
  font-family: $font-bold;
}

#hpnow {
  background: darken($nord11, 20%);
}
#mpnow {
  background: #005f87;
}
#epnow {
  background: darken($nord13, 40%);
}
#wpnow {
  background: #703080;
}

// *::-webkit-scrollbar {
//   width: 9px;
// }
// *::-webkit-scrollbar-track {
//   background: lighten($nord3, 10);
// }
// *::-webkit-scrollbar-thumb {
//   background: $nord10;
//   border-radius: 9px;
// }
// *::-webkit-scrollbar-thumb:hover {
//   background: $nord9;
// }

/* wikipedia.org/wiki/ANSI_escape_code */
.c-black {
  color: darken($nord0, 10%);
  font-family: $font-bold;
  font-weight: bold;
}
.c-red {
  color: $nord11;
}
.c-green {
  color: $nord14;
}
.c-yellow {
  color: $nord12;
}
.c-blue {
  /* blue1: $nord8; blue2: $nord9; blue3: $nord10; */
  color: $nord10;
}
.c-magenta {
  color: $nord15;
}
.c-cyan {
  color: $nord7;
}
.c-darkGray {
  color: darken($nord4, 20%);
  font-family: $font-bold;
}
.c-lightGray {
  color: $dark-foreground;
  font-family: $font-bold;
}
.c-white {
  color: $bright-foreground;
  font-family: $font-bold;
}
/* bright */
.c-bright {
  font-family: $font-bold;
  font-weight: bold;
}
.c-bright.c-black {
  color: darken($nord4, 20%);
}
.c-bright.c-red {
  color: lighten($nord11, 5%);
}
.c-bright.c-green {
  color: $nord14;
}
.c-bright.c-yellow {
  color: $nord13;
}
.c-bright.c-blue {
  color: $nord9;
}
.c-bright.c-magenta {
  color: $nord15;
}
.c-bright.c-cyan {
  color: $nord8;
}
.c-bright.c-lightGray {
  color: $foreground;
}
/* dim */
.c-dim {
  font-family: $font-boit;
  font-weight: bold;
}
.c-dim.c-red {
  color: darken($nord11, 5%);
}
.c-dim.c-blue {
  color: darken($nord9, 10%);
}

/* backgrounds */
.bg-black {
  background-color: rgba(darken($nord0, 10%), 0.5);
}
.bg-red {
  background-color: rgba($nord11, 0.5);
}
.bg-green {
  background-color: rgba($nord14, 0.5);
}
.bg-yellow {
  background-color: rgba($nord12, 0.5);
}
.bg-blue {
  background-color: rgba($nord10, 0.5);
}
.bg-magenta {
  background-color: rgba($nord15, 0.5);
}
.bg-cyan {
  background-color: rgba($nord7, 0.5);
}
.bg-darkGray {
  background-color: rgba(darken($nord4, 20%), 0.5);
}
.bg-lightGray {
  background-color: rgba($dark-foreground, 0.5);
}
.bg-white {
  background-color: rgba($bright-foreground, 0.5);
}
/* bright */
.bg-bright {
  font-family: $font-bold;
  font-weight: bold;
}
/* dim */
.bg-dim.bg-red {
  color: rgba(darken($nord11, 5%), 0.5);
}
.bg-dim.bg-blue {
  color: rgba(darken($nord9, 10%), 0.5);
}
